<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="functionality.js" defer></script>
  <title>Login to Video Call</title>
</head>
<body>
    <input type="text" placeholder="Name" id="name_input">
    <button id="create_call_btn">Create Call</button>
    <p id="name_warning"></p>
    <input type="text" placeholder="Room code" id="code_input" >
    <p id="code_warning"></p>
    <button id="join_call_btn">Join Call</button>
</body>
</html>