<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <title>Call Room</title>
  <link rel="stylesheet" type="text/css" href="css/room_style.css">
  <style>
    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
      gap: 5px;
    }
    
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    main{
      display: grid;
      grid-template-columns: 0.8fr 0.2fr;
    }

    .main_left {
      grid-column: 1/ 2;
    }

    .main_right {
      grid-column: 2/ 3;
      background-color: #242324;
      border-left: 1px solid #3d3d42;
    }
  </style>
</head>
<body>
  <main>
    <div id="main_left">
      <div id="video-grid"></div>
      <br>
      <i class="fas fa-phone-slash" id="end_call"></i>
      <i class="fas fa-microphone-alt" id="mute_audio"></i>
      <i class="fas fa-video" id="mute_video"></i>
      <button id="showMembers">Show Participants</button>

    </div>
    <div id="main_right">
      <h1>chat</h1>
      <div id="chat-div"></div>
      <input type="text" id="message">
      <i class="fas fa-paper-plane" id="send-btn"></i>
      <iframe name="hiddenFrame" width="0" height="0" style="display: none;" src="" frameborder="0"></iframe>
      <form method="POST" action="/" enctype="multipart/form-data" target="hiddenFrame">
        <input type="file" name="file"/>
        <input type="submit" value="Upload"/>
      </form>
      <a href="../uploads/IMG-20211229-WA0007.jpg" download>link</a>
    </div>
  </main>
</body>
</html>