<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <title>Call Room</title>
  <link rel="stylesheet" type="text/css" href="css/room_style.css">
</head>
<body>
  <main>
    <div class="main_left">
      <div id="video-grid"></div>
      <div class="main_controls">
        <div class="main_controls_block">
          <i class="fas fa-phone-slash" id="end_call"></i>
        </div>
        <div class="main_controls_block">
          <i class="fas fa-microphone-alt" id="mute_audio"></i>
        </div>
        <div class="main_controls_block">
          <i class="fas fa-video" id="mute_video"></i>
        </div>
        <div class="main_controls_block">
          <i id="showMembers"  class="fas fa-users"></i>
        </div>
        <div class="main_controls_block">
          <i id="showFiles"  class="far fa-file"></i>
        </div>
      </div>
    </div>
    <div class="main_right" id="mainRight">
      <div class="main_header">
        <h2>Chat</h2>
      </div>
      <div id="chat-div">
        <ul class="messages" id="all_messages"></ul>
      </div>
      <div class="main_message_container">
        <input type="text" id="message">
        <i class="fas fa-paper-plane" id="send-btn"></i>
        <iframe name="hiddenFrame" width="0" height="0" style="display: none;" src="" frameborder="0"></iframe>
        <form method="POST" action="/" enctype="multipart/form-data" target="hiddenFrame">
          <input type="file" name="file" />
          <input type="submit" value="Upload" class="sendfile-buttons"/>
        </form>
      </div>
    </div>
    <div id="files-div"></div>
    <div id="members-div"></div>
  </main>
</body>
</html>